/* MOBILE FIRST */

h1.contest-title {
  font-family: "Archivo Black";
  padding-top: 2.5em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}

.contest {
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;

    .card {
      box-shadow: 0 2px 25px rgba(255, 255, 255, 0.2);
      overflow: hidden;
      max-width: 350px;
      margin: 1em;

      .card-header {
        height: 200px;

        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      .card-content {
        background-color: $dark-color;
        padding: 30px;
        text-align: left;

        .card-title {
          font-family: "Archivo Black";
        }

        .card-excerpt {
          color: $medium-color;
          margin: 10px 0 20px;
        }

        .author {
          display: flex;

          .profile-img {
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            height: 40px;
            width: 40px;

            img {
              height: 100%;
            }
          }

          .author-info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-left: 10px;
            width: 100px;

            small {
              color: $medium-color;
              margin-top: 5px;
            }
          }
        }
      }
    }

    // .animated-bg {
    //   background-image: linear-gradient(
    //     to right,
    //     #333 0%,
    //     #444 10%,
    //     #555 20%,
    //     #666 100%
    //   );
    //   background-size: 200% 100%;
    //   animation: bgPos 1s linear infinite;
    // }

    // .animated-bg-text {
    //   display: inline-block;
    //   margin: 0;
    //   height: 10px;
    //   width: 100%;
    // }

    // @keyframes bgPos {
    //   0% {
    //     background-position: 50% 0;
    //   }

    //   100% {
    //     background-position: -150% 0;
    //   }
    // }
  }
}
