/* MOBILE FIRST */

.footer {
  width: 100%;
  font-family: "Archivo Black";
  padding: 2em;
  margin-top: 1em;
  background-color: $dark-color;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    color: $medium-color;

    a {
      color: $light-color;
      transition: 0.3s;

      &:hover {
        color: $main-color;
      }
    }
  }
}
