/* MOBILE FIRST */

.hero {
  position: relative;
  background-image: url("../../assets/images/bg-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  max-height: 1000px;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    user-select: none;
  }

  img.circle {
    width: 20%;
    max-width: 145px;
    top: 15%;
    right: -15%;
    bottom: unset;
    left: unset;
  }

  img.bottom-circle {
    z-index: 4;
    width: 280px;
  }

  img.character {
    z-index: 2;
    width: 110%;
  }

  img.shadow-up {
    transform: rotate(180deg);
    z-index: 3;
    height: 100px;
    top: 0;
    bottom: unset;
  }

  img.shadow-down {
    z-index: 999;
  }

  .date {
    position: absolute;
    bottom: 10%;
    left: 0;
    z-index: 5;
    width: 280px;
    font-size: 1em;

    p.time {
      font-weight: bold;
    }
  }

  .container {
    .event {
      font-family: "Archivo Black";
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;

      h1 {
        font-size: 20vw;
      }

      h2 {
        font-size: 7vw;
      }

      h2.text-left {
        text-align: left;
      }

      h2.text-right {
        text-align: right;
      }
    }
  }
}
