/* MOBILE FIRST */

.navbar {
  background: $transparent;
  // background-color: $dark-color;
  padding: 1em;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    img {
      max-width: 1.7em;
    }

    .mobile-menu {
      font-size: 1.7em;
      user-select: none;
      cursor: pointer;
      margin: auto 0;
    }

    .mobile-menu-exit {
      float: right;
      font-size: 3em;
      margin-top: -1px;
      margin-right: 0.1em;
      user-select: none;
      cursor: pointer;
    }

    nav {
      background-color: $main-bg;
      position: fixed;
      z-index: 999;
      width: 66%;
      right: 0;
      top: 0;
      height: 100vh;
      padding: 1em;

      ul {
        margin-top: 5em;
      }

      li {
        a {
          color: white;
          display: block;
          padding: 1em;
          font-size: 1.3em;
          text-align: right;
          transition-duration: 0.3s;
          border-bottom: 0.2rem solid $transparent;

          &:hover {
            border-bottom: 0.2rem solid $main-color;
          }
        }
      }
    }

    nav.menu-btn {
      right: -100%;
      transition: 850ms;
    }

    nav.active {
      right: 0;
      padding: 0.7em;
      transition: 350ms;
    }
  }
}
