@media (min-width: 400px) {
  h1.contest-title {
    padding-top: 2.7em;
  }
}

@media (min-width: 700px) {
  h1.contest-title {
    padding-top: 3.5em;
  }

  .contest {
    .container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1280px) {
  .contest {
    .container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (min-width: 1440px) {
}

@media (min-width: 2400px) {
}

// Landscape
@media (max-height: 580px) {
}

@media (max-height: 330px) {
}
