@media (min-width: 400px) {
  .hero {
    img.character {
      width: 50%;
      right: 0;
      left: auto;
    }

    .container {
      .event {
        top: 50%;

        h1 {
          font-size: 15vw;
        }

        h2 {
          font-size: 5vw;
        }
      }
    }
  }
}

@media (min-width: 700px) {
  .hero {
    height: 100vh;

    img.circle {
      width: 100%;
      right: -10%;
    }

    img.bottom-circle {
      width: 350px;
    }

    .date {
      bottom: 10%;
      width: 350px;
      font-size: 1.5em;
    }

    img.character {
      width: 50%;
      right: -100px;
      left: auto;
    }

    .container {
      .event {
        h1 {
          font-size: 10vw;
        }

        h2 {
          font-size: 3vw;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .hero {
    img.circle {
      width: 100%;
      right: 5%;
    }

    img.bottom-circle {
      width: 525px;
    }

    .date {
      bottom: 15%;
      width: 525px;
      font-size: 2em;
    }

    .container {
      .event {
        top: 45%;
        left: 45%;

        h1 {
          font-size: 12vw;
          line-height: 1em;
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .hero {
    .date {
      bottom: 12%;
    }

    img.shadow-up {
      display: none;
    }
  }
}

@media (min-width: 2400px) {
  .hero {
    img.shadow-up {
      display: inline;
    }
  }
}

// Landscape
@media (max-height: 580px) {
}

@media (max-height: 330px) {
}
