@media (min-width: 400px) {
  .navbar {
    .container {
      img {
        max-width: 2em;
      }

      .mobile-menu {
        font-size: 2em;
      }

      .mobile-menu-exit {
        margin-top: 2px;
      }
    }
  }
}

@media (min-width: 700px) {
  .navbar {
    padding: 1.5em 2.5em;

    .container {
      width: 100%;

      img {
        max-width: 2.5em;
      }

      .mobile-menu,
      .mobile-menu-exit {
        display: none;
      }

      nav {
        display: flex;
        justify-content: flex-end;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
          margin: auto 0;
          display: flex;
        }

        li {
          a {
            padding: 0.2em 0;
            margin-left: 2em;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1440px) {
}

@media (min-width: 2400px) {
}

// Landscape
@media (max-height: 580px) {
}

@media (max-height: 330px) {
}
