/* MOBILE FIRST */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  font-family: "Roboto";
  text-align: center;
  color: $light-color;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1440px;
}

// SCROLL BAR

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $dark-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $second-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $medium-color;
}
