@media (min-width: 400px) {
  .navbar {
    .container {
      img {
        max-width: 2em;
      }

      .mobile-menu {
        font-size: 2em;
      }
    }
  }

  .hero {
    img.character {
      width: 50%;
      right: 0;
      left: auto;
    }

    .container {
      .event {
        top: 50%;
      }
    }
  }
}

@media (min-width: 700px) {
  .navbar {
    padding: 1.5em 2.5em;

    .container {
      width: 100%;

      img {
        max-width: 2.5em;
      }

      .mobile-menu,
      .mobile-menu-exit {
        display: none;
      }

      nav {
        display: flex;
        justify-content: flex-end;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;

        ul {
          margin: 0;
          display: flex;
        }

        li {
          a {
            padding: 0 0 0.5em 0;
            margin-left: 2em;
          }
        }
      }
    }
  }

  .hero {
    height: 100vh;

    img.character {
      width: 50%;
      right: -100px;
      left: auto;
    }

    .container {
      .event {
        h1 {
          font-size: 10vw;
        }

        h2 {
          font-size: 3vw;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
}
// Landscape
@media (max-height: 580px) {
}

@media (max-height: 330px) {
}
