@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "config";
@import "media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  font-family: Roboto, sans-serif;
  text-align: center;
  color: $light-color;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.navbar {
  background: rgba(255, 255, 255, 0.5);
  padding: 1em;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;

  .container {
    display: flex;
    place-content: space-between;

    img {
      max-width: 1.5em;
    }

    .mobile-menu {
      font-size: 1.7rem;
    }

    nav {
      display: none;
    }
  }
}
