@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import "config";
@import "media";

/* MOBILE FIRST */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  font-family: "Roboto";
  text-align: center;
  color: $light-color;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

.container {
  width: 90%;
}

.navbar {
  background: rgba(0, 0, 0, 0);
  padding: 1em;
  position: fixed;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    img {
      max-width: 1.7em;
    }

    .mobile-menu {
      font-size: 1.7em;
      user-select: none;
      cursor: pointer;
    }

    nav {
      display: none;
    }
  }
}

.hero {
  position: relative;
  background-image: url("../assets/images/bg-image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;

  img {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  .container {
    .event {
      font-family: "Archivo Black";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        font-size: 20vw;
      }

      h2 {
        font-size: 7vw;
      }
    }
  }
}
